* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
input {
  font-size: 14px;
}
body {
  line-height: 1.4;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  margin-bottom: 16px;
}
label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}
input {
  border: 1px solid #eee;
  padding: 12px;
  outline: none;
}
button {
  cursor: pointer;
  padding: 12px;
  background: #5865f2;
  border: none;
  color: #fff;
  font-size: 16px;
  transition: background 0.3s ease;
}
button:hover {
  background: #5874f28a;
}
button:disabled {
  cursor: default;
  background: #939cfa;
}
.cf {
  background: #333744;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
}
.cf__box {
  box-shadow: 0 0 17px 1px #1d1f26;
  background: #f7f7fa;
  padding: 24px;
  width: 250px;
  border-radius: 10px;
}
.cf button {
  width: 100%;
  border-radius: 10px;
}
.cf input {
  margin-bottom: 16px;
  width: 100%;
}
